*{
    margin: 0;
    padding: 0;
}

/*Header*/
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid;
    font-family: 'Assistant 700', sans-serif;
}

.Buttons{
    background-color: rgb(242, 87, 87);
    color: white;
    border: none;
    border-radius: 5px;
}

#LogIn{
    width: 120px;
    height: 40px;
}

header nav{
    display: flex;
    width: 40%;
    justify-content: space-between;
}

header a{
    text-decoration: none;
    color: black;
}

header a:hover{
    border-bottom: 2px solid;
    border-color:rgb(79, 149, 255);
}

/*Banner*/
#Banner{
    width:99.9%;
    border:1px solid;
}

/*First Section (Home information)*/
#HomeInfo{
    border:1px solid;
    display: flex;
    margin-top: -0.3%;
}

/*Main Article*/
#HomeMainArticle{
    display:flex;
    flex-direction: column;
    background-color: rgb(231,233,145);
    width:80%;
}

#HomeMainArticle div{
    margin: 5% 30% 5% 2%;
    font-family: 'Assistant', sans-serif;
}

#HomeMainArticle div h2{
    margin-bottom: 5%;
    font-size: 40px;
}

#HomeMainArticle div h3{
    font-size: 24px;
}

#HomeMainArticle p{
    display: flex;
    flex-direction: column;
    margin: 0 3% 0% 20%;
    text-align: end;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    padding-bottom: 5%;
}

#HomeMainArticle p span{
    font-size: 16px;
}

/*Aside*/
#HomeInfo aside{
    border-left: 1px solid;
    display: flex;
    flex-direction: column;
    background-color: rgb(254,255,219);
    width: 20%;
    align-items: center;
    padding: 2% 3%;
    font-family: 'Assistant', sans-serif;
}

#HomeInfo aside img{
    max-width: 100%;
}

#HomeInfo aside article{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 4%;
}

#HomeInfo aside article h2{
    font-size: 24px;
    margin-bottom: 10%;
}

#HomeInfo aside article p{
    font-size: 16px;
}

#HomeInfo aside button{
    width: 110%;
    height: 4rem;
    margin-top: 10%;
    font-size: 20px;
}

/*Banner of Table*/
.kiddough {
    width: 100%;
    height: 403px;
    background-image: url(images/kidDough.png);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.kiddough h1{
    font-family: 'Assistant', sans-serif;
    font-size: 40px;
    padding: 3% 0 0 5%;
}

.kiddough h2{
    font-family: 'Assistant', sans-serif;
    font-size: 24px;
    padding: 2% 0 0 5%
}

/*Table*/
#LocationsTable{
    border-bottom:5px solid;
    border-color: rgb(28,113,161);
    border-collapse: collapse;
    align-content: center;
    margin: 5%;
    width: 90%;
    font-family: 'Assistant', sans-serif;
    font-size: 16px;  
}

#LocationsTable a{
    color: black;
}

#LocationsTable a:hover{
    background-color: rgb(148, 187, 245);;
}

#LocationsTable th{
    background-color: rgb(28,113,161);
    color: white;
    text-align: center;
}

#LocationsTable th, #LocationsTable td {
    padding: 8px 0;
  }

#LocationsTable td:nth-child(1), #LocationsTable td:nth-child(2), #LocationsTable td:nth-child(3){
    padding-left: 4%;
}

#LocationsTable tr:nth-child(even) {
    background-color: rgb(217,217,217);
}

#LocationsTable td:nth-child(4){
    text-align: center;
}

/*Banner Testimonials*/
.kidMask {
    width: 100%;
    height: 403px;
    background-image: url(images/kidMask.png);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    font-family: 'Assistant', sans-serif;
    color: white;
    z-index: 1;
    position: relative;
}

.kidMask h2{
    font-size: 40px;
    padding: 4% 0 0 5%;
    margin-right: 67%;
}

.kidMask p{
    font-size: 20px;
    padding: 1% 0 0 5%;
    margin-right: 67%;
}

/*Profiles*/
#TestProfiles{
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(28,113,161);
}

#TestProfiles article{
    margin: 2% 4% 0 0;
    background-color: white;
    width: 20%;
    border: 5px solid;
    z-index: 2;
    position: relative;
    bottom: 120px;
    font-family: 'Assistant', sans-serif;
}

#TestProfiles article:nth-child(1){
    border-color: rgb(248,132,132);
}

#TestProfiles article:nth-child(2){
    border-color: rgb(231,233,145);
}

#TestProfiles article:nth-child(3){
    border-color: rgb(32,221,28);
}

#TestProfiles article div{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5%;
    font-size: 20px;
}

#TestProfiles article div img{
    margin: 7%;
    width:30%;
    border-radius: 50%;
}

#TestProfiles article p{
    text-align: left;
    margin: 0 5%;
    padding: 0 0 15% 5%;
    font-size: 16px;
}

/*Forms*/
#FormSection{
    display: flex;
    background-color: rgb(206,206,206);
}

#ImageForm{
    width: 55%;
}

#FormSection img{
    height:100%;
    max-width: 100%;
    border: 1px solid;
}

#CompleteForm{
    display: flex;
    flex-direction: column;
    font-family: 'Assistant', sans-serif;
    width: 50%;
    height: 100%;
    margin: 5% 4% 1%;
    padding-bottom: 2%;
}

#CompleteForm h2{
    color: rgb(242, 87, 87);
    font-size: 40px;
    margin-bottom: 3%;
}

#CompleteForm form{
    font-size: 16px;
    justify-content: center;
}

.inputs{
    border-radius: 0.2rem;
    width: 100%;
    height: 4rem;
    margin: 0.3% 0 2% 0;
}

.inputs::placeholder{
    padding-left: 1rem; 
    font-family: 'Assistant', sans-serif;
    font-size: 16px;
}

#Message{
    padding-top: 1rem;
}

#CityZip{
    display: flex;
}

#location{
    margin-right: 2%;
}

#zipCode{
    margin-left: 2%;
}

#CompleteForm form textarea{
    height: 35%;
    border: 2px solid;
}

#ButtonForm{
    margin-top: 1%;
    width:100%;
    height: 3rem;
}

/*Footer*/
footer{
    display: flex;
    background-color: black;
    align-items: center;
    font-family: 'Assistant', sans-serif;
    font-size: 20px;
}

footer a{
    color:white;
}

footer a:hover{
    background-color:rgb(127, 162, 243);;
}

footer img{
    margin: 7% 0%;
}

.FooterLinkTitle{
    display: flex;
    text-decoration: none;
    color: rgb(189,189,189);
    margin-bottom: 25px;
}

#LinksAndCo{
    display: flex;
    flex-direction: column;
    margin: 4% 1% 1% 10%;
    width:58%;
    height: 300px;
}

li {
    list-style-type: none;
}

#Links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 1.3;
}

#Copyright{
    color: rgb(189,189,189);
    margin: 10% 0 0 3%;
}

@media (min-width: 600px) and (max-width: 768px){ /*tablet*/
    h1,h3, a, p{
      font-size: 1rem;
    }

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid;
        font-family: 'Assistant 700', sans-serif;
        width: 100%;
    }

    header nav{
        display: flex;
        width: 50%;
        justify-content: space-between;
    }

    header nav a{
        display: flex;
        margin: 0 1% 0 0;
    }
  }

@media (max-width: 599px){ /*celulares*/
    h1, h2, h3, a, p, button, td{
      font-size: 0.6rem;
    }
  
    main{
      display: flex;
      flex-flow: column wrap;
      margin: 10px;
    }

    #Logo{
        width: 30%;
    }

    #Logo img{
        width: 100%;
    }

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid;
        font-family: 'Assistant 700', sans-serif;
    }

    header nav{
        display: flex;
        width: 60%;
        justify-content: space-between;
    }

    header nav a{
        display: flex;
        margin: 0 1% 0 0;
    }

    #LogIn{
        width: 100%;
        height: 2rem;
    }

    #HomeInfo{
        border:1px solid;
        display: flex;
        flex-direction: column;
        margin-top: -0.3%;
        width: 100%;
    }

    #HomeMainArticle{
        display:flex;
        flex-direction: column;
        background-color: rgb(231,233,145);
        width:100%;
    }

    #HomeInfo aside{
        border-left: 1px solid;
        display: flex;
        flex-direction: column;
        background-color: rgb(254,255,219);
        width: 94%;
        align-items: center;
        padding: 2% 3%;
        font-family: 'Assistant', sans-serif;
    }

    .kidMask p{ 
        display: flex;
        width: 90%;
    }

    #TestProfiles{
        display: flex;
        flex-direction: row-reverse;
        background-color: rgb(28,113,161);
        justify-content: center;
    }

    #TestProfiles article{
        margin: 2%;
        background-color: white;
        width: 30%;
        border: 5px solid;
        z-index: 2;
        position: relative;
        bottom: 120px;
        font-family: 'Assistant', sans-serif;
    }

    #FormSection{
        display: flex;
        background-color: rgb(206,206,206);
        flex-direction: column;
    }

    #ImageForm{
        display: flex;
        width: 99.7%;
        justify-content: center;
    }

    #CompleteForm{
        display: flex;
        flex-direction: column;
        font-family: 'Assistant', sans-serif;
        width:98%;
        margin: 3% 0 4% 0;
    }

    #complexLogo{
        width: 50%;
    }

    footer img{
        margin: 7% 0%;
        width: 100%;
    }

    #LinksAndCo{
        display: flex;
        flex-direction: column;
        margin: 4% 1% 1% 0%;
        width:100%;
        height: 300px;
    }

    #Links{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        line-height: 1.3;
        margin: 0 2% 0 0;
    }
  }